<div class="col-xs-6 col-xs-offset-3">
  <h2 class="text-center">Thêm bài viết</h2>
  <form action="#" method="POST">
  	<div class="form-group">
	  	<label for="title" class="control-label">Tiêu đề</label>
	  	<input class="form-control" name="title" />
  	</div>
  	<div class="form-group">
	  	<label for="description" class="control-label">Mô tả ngắn</label>
	  	<textarea class="form-control" name="description"></textarea>
  	</div>
  	<div class="form-group">
	  	<label for="content" class="control-label">Nội dung</label>
	  	<textarea class="form-control" name="content"></textarea>
  	</div>
  	<div class="form-group">
  	<button type="submit" name="submit" class="btn btn-primary">Thêm</button>
  	</div>
  </form>
  </div>