<div class="col-xs-6 col-xs-offset-3">
  <h2 class="text-center">Bài viết</h2>
  	<div>
		<h4><a href="#">KrakenJS – Xác thực thành viên qua Facebook sử dụng Passport</a></h4>
		<p>Tiếp theo trong phần xác thực thành viên, mình sẽ hướng dẫn các bạn xác thực thành viên qua tài khoản Facebook.</p>
		<a href="#" class="btn btn-info">Sửa</a>
		<a href="#" class="btn btn-danger">Xóa</a>
	</div>
	<hr>
	<div>
		<h4><a href="#">KrakenJS – Xác thực thành viên với Passport</a></h4>
		<p>Trong bài viết này mình sẽ hướng dẫn các bạn xây dựng chức năng đăng ký và đăng nhập sử dụng passport trong KrakenJS. Thực tế thì bạn có thể sử dụng tương tự những gì mình trình bày trong bài viết này nếu bạn sử dụng project khác không phải KrakenJS nhưng có sử dụng ExpressJS.</p>
		<a href="#" class="btn btn-info">Sửa</a>
		<a href="#" class="btn btn-danger">Xóa</a>
	</div>
	<hr>
  </div>