/*
Site Name: MEAN Tutorial
Author: Sang Nguyen
Author URI: http://sangnguyen.info
Description:
Version: 1.0
*/
html, body{position: relative; height: 100%; min-height: 100%;}
body {
    font-family: Roboto;
    font-size: 13px;
}

footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
footer p{padding-left: 20px;}